# Python Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Frontend Dependencies
node_modules/
dist/
build/
.eslintcache

# IDE and OS Trash
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment Variables
.env